.informationDisplay .btnUpdate {
    font-size: 0.8rem;
    position: absolute;
    right: -60px;
    top: 0;
}

.cancelUpdate-btn{
    float: right;
}

.informationDisplay {
    border-radius: 0.25rem;
    position: relative;
}

.informationDisplay h5 {
    font-weight: bold;
    text-align: center;
}