.btnUpdate{
    float: right;
}

.bio{
}

.cancelUpdate-btn{
    float: right;
}

.informationForm{
    background-color: #ddd;
    padding: 10px;
    border-radius: 0.25rem;
}

.informationDisplay{
    background-color: #ddd;
    padding: 10px;
    border-radius: 0.25rem;
}