.modalBlock {
    background-color: none;
    left: 50%;
    margin: auto;
    position: fixed;
    text-align: center;
    transform: translateX(-50%);
    z-index: 99999999999999;
}

.modalContent {
    background-color: #555;
    border-radius: 3px;
    box-shadow: 0px 5px 4px;
    display: inline-block;
    margin-top: 5px;
    padding: 5px;
}
