.cardInfo {
    position: relative
}

.cardInfo > .delete {
    display: none;
    position: absolute;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 32px;
    font-size: 30px;
    color: #cc9a9a;
    transition: color 0.2s ease-out;
}

.cardInfo .delete:hover {
    color: #af5b5e;
    cursor: pointer;
}

.cardInfo .delete:after {
    content: '×';
}

.cardInfo:hover .delete {
    display: block;
}
