.teamContent{
    background-color: rgba(0, 140, 220, 0.1);
    padding: 20px;
    height: 100%;
}

.memberRow {
    padding: 5px;
    transition: 0.2s;
    position: relative;
}

.memberRow:hover {
    background-color: white;
    box-shadow: 0 1px 2px;
    cursor: pointer;
    transition: 0.2s;
}
.memberRow .badge:hover {
    cursor: default;
}

.memberMe {
    background-color: #d3ffae;
}

.teamVisibility {
    align-items: center;
    text-align: center;
    color: white;
}

.teamVisibility.click:hover {
    cursor: pointer;
}

.memberButtons{
    position: absolute; 
    bottom: 0;
    right: 0;  
}

.btnTeamDescription {
    text-align: left;
    white-space: pre-wrap;
}

.btn-group-sm > .editMember, .btn-group-sm > .removeMember {
    border-radius: 0;
}