.listsPanel {
    flex: 1;
    height: 100%;
    min-height: 0;
    padding: 15px;
    white-space: nowrap;
}

.listCompWrapper {
    display: inline-block;
    height: 100%;
    margin-right: 5px;
    vertical-align: top;
    width: 250px;
}

.boardPanel {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: hidden;
}
