.boardSettingsBar {
    flex: none;
    padding: 5px;
}

.boardName {
    display: inline-block;
    font-size: 1.7rem;
}

.boardSettingsBtn {
    font-size: 1.5rem;
    height: 2rem;
    line-height: 2rem;
    margin-right: 5px;
}

.boardSettingsBtn:hover {
    cursor: pointer;
}

.starBtn:hover {
    color: rgb(227, 227, 79)
}

.listsPanel {
    flex: 1;
    height: 100%;
    min-height: 0;
    margin: 15px;
    white-space: nowrap;
}

.listCompWrapper {
    display: inline-block;
    height: 100%;
    margin-right: 5px;
    vertical-align: top;
    width: 250px;
}

.boardPanel {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    overflow-y: hidden;
}

/* Add list section */
.appened-form {
    display: inline-block;
    padding: 10px;
}

.submitAddListForm-btn {
    margin-top: 5px;
}

.addListButton {
    background-color: #dbdbed;
    width: 20%;
    border-radius: 10px !important;
    border: 0;
    height: 50px;
}

.addListButton:hover {
    background-color: #ccc;
}