.boardSettingsBar {
    flex: none;
    padding: 5px;
}

.boardName {
    display: inline-block;
    font-size: 1.7rem;
}

.boardSettingsBtn {
    font-size: 1.5rem;
    height: 2rem;
    line-height: 2rem;
    margin-right: 5px;
}

.boardSettingsBtn:hover {
    cursor: pointer;
}

.starBtn:hover {
    color: rgb(227, 227, 79)
}

.listsAndAddPanel {
    display: flex;
    height: 100%;
    margin: 0 15px;
    padding-bottom: 15px;
    overflow-x: auto;
}

.listsPanel {
    height: 100%;
    min-height: 0;
    white-space: nowrap;
}

.listCompWrapper {
    display: inline-block;
    height: 100%;
    margin-right: 5px;
    vertical-align: top;
    width: 250px;
}

.boardPanel {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    overflow-y: hidden;
}
