.cardsPanel {
    background-color: #d5d5ef;
    padding: 10px 45px;
}

.card {
    background-color: rgb(220, 255, 243);
    border: 1px solid black;
    display: inline-block;
    list-style-type: none;
    margin: 0 10px;
    max-width: 200px;
    padding: 10px;
    text-align: center;
}

.errorMsg {
    display: block;
    color: #cc2222;
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
