.profilePanelsList {
    padding: 20px 20vw;
}

.profilePanelsList .teamsList {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.profilePanelsList .teamsList .team {
    background-color: #eeeeee;
    box-shadow: 0px 0px 1px;
    border-radius: 0.25rem;
    margin: 2px;
    margin-bottom: 8px;
    padding: 5px;
    text-align: center;
}

.teamsTitle {
    margin: 0;
    margin-right: 10px;
}