.labels-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 5px;
    padding: 0;
}

.label-li {
    font-size: 0.8rem;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    margin-bottom: 5px;
    margin-right: 5px;
    min-width: 80px;
    overflow: hidden;
    padding: 0 5px;
    text-align: center;
    text-overflow: ellipsis;
    max-width: 120px;
}