.labels-ul {
    display: flex;
    margin-top: 5px;
    padding: 0;
}

.label-li {
    font-size: 0.9rem;
    font-weight: bold;
    height: 30px;
    margin-right: 5px;
    min-width: 80px;
    padding: 5px;
    text-align: center;
    width: auto;
}