.appened-form {
    display: inline-block;
    padding: 10px;
    width: 250px;
}

.addListForm-btn {
    margin-top: 5px;
}

.addListButton {
    background-color: #dbdbed;
    border: 0;
    border-radius: 0.25rem;
    height: 50px;
    width: 250px;
}

.addListButton:hover {
    background-color: #ccc;
}

.addListButton:hover > .addListIcon {
    transform: rotateZ(90deg) scale(1.5);
    transition: 0.2s;
}

.addListIcon {
    transition: 0.2s;
}