.card {
    background: none;
    border: none;
    box-shadow: none !important;
    flex-basis: 33%;
    list-style-type: none;
    transition: all 0.3s, visibility 0s;
    vertical-align: top;
}

.cardName {
    white-space: normal;
}

.cardContent {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0px 1px 3px;
    display: inline-block;
    padding: 5px;
    text-align: center;
    transition: all 0.3s, visibility 0s;
}

.cardContent:hover {
    background-color: #d2e5ee;
}


.btn-noCss{
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0;
    padding: 0;
}
  
.btn-noCss:hover,
.btn-noCss:focus {
    text-decoration: none;
}