.boardsPanel {
    padding: 10px;
}

.boards-h1 {
    margin-bottom: 10px;
    margin-top: 0;
}

.boardsContent {
    padding: 10px;
}

.boards-ul {
    display: flex;
    flex-wrap: wrap;
}

.board-li {
    margin-bottom: 15px;
    min-width: 160px;
    width: 20%;
}

.board-li-content {
    background-color: #eeeeee;
    border-radius: 0.25rem;
    height: 100%;
    margin-right: 10px;
    padding: 5px 10px;
    transition: 0.2s;
}

.board-li-content:hover {
    background-color: #dedede;
    cursor: pointer;
    transition: 0.2s;
}


/* BOARD-LI ELEMENTS */
.board-li .boardName {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;    
}

.board-li a.boardLink:hover .board-li-content {
    background-color: #ddd;
    transition: 0.2s;
}

.board-li .boardInfo {
    margin: 0;
}

.teamLink:not(:last-child)::after {
    content: ", ";
    display: inline-block;
    white-space: pre;
}

.teamLink {
    transition: 0.2s;
}

.teamLink:hover {
    color: #004a75;
    text-decoration: underline;
    transition: 0.2s;
}

.teamLink:hover::after {
    color: initial;
    text-decoration: none;
}

.membersInitialsList {
    display: flex;
    flex-wrap: wrap;
}

.memberInitials {
    background-color: #004a75;
    border-radius: 0.25rem;
    margin-right: 5px;
    margin-bottom: 5px;
}

.memberLink {
    border-radius: 0.25rem;
    color: #fff;
    padding: 2px;
    transition: 0.2s;
}

.memberLink:hover {
    box-shadow: 0px 1px 1px black;
    cursor: pointer;
    transition: 0.2s;
}