.btn-success {
    margin-left: 10px
}

.cardsList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
}

.cardsListPanel {
    background-color: #e8e8e8;
    text-align: center;
    width: 300px;
}

.li-card {
    list-style-type: none;
    margin: 10px;
}

/*
    DRAGULA Drag n Drop library custom CSS
*/
.gu-mirror, .gu-mirror .cardContent {
    box-shadow: 0 5px 20px;
    opacity: 1;
    transform: rotate(-2deg);
    transition: 0.3s;
}

