.addCardForm-btn {
    margin-top: 5px;
}

.addCard-btn {
    background: none;
}

.addCardIcon {
    color: #43b949;
    font-size: 18px;
    transition: 0.2s;
}

.addCard-btn:hover > .addCardIcon {
    transform: rotateZ(90deg) scale(1.5);
    transition: 0.2s;
}
.btn.addCard-btn:hover {
    background: none;
    box-shadow: none;
}
