.btn-success {
    margin-left: 10px
}

.cardsList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.cardsListPanel {
    background-color: #dbdbed;
    border-radius: 0.25rem;
    text-align: center;
}

.card-li {
    border-radius: 0.25rem;
    list-style-type: none;
    margin: 5px;
}

.addCardButton {
    width: 100%;
}
