.btn-success {
    margin-left: 10px
}

.cardsList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.cardsListPanel {
    background-color: #ccc;
    border-radius: 10px;
    text-align: center;
    width: 230px;
}

.card-li{
    border-radius: 10px;
    list-style-type: none;
    margin: 5px;
}

.addCardButton {
    width: 100%;
}
