.appContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    background: url('../../assets/prello_background.jpg') no-repeat center center fixed;
    background-size: 100% 100%;
    height: calc(100% - 50px);
}
.whiteBackground {
    background-color: rgba(255,255,255,0.3);
    height: 100%;
    width: 100%;
}

.link {
    background-color: #000057;
    color: #e8e8e8;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    padding: 10px;
    text-decoration: none;
    transition: 0.3s;
    vertical-align: middle;
}

.link:hover {
    color: #eed774;
    transition: 0.3s;
    text-decoration: none;
}
