.addMember-btn{
    display: inline-block;
    height: 100%;
    margin-left: 5px !important;
    padding: 0;
    vertical-align: sub;
}

.boardMemberLists {
    display: inline-block;
    height: 40px;
    margin: 0;
    overflow-y: auto;
    vertical-align: middle;
    max-width: 25vw;
    scroll-snap-type: proximity;
    scroll-snap-points-y: repeat(40px);
}