.user{
    padding-top: 20px;
}

.headerProfile{
    display: flex;
    justify-content: space-around;
}


.infosPanel {
    padding:20px;
    background-color: #ddd;
    border-radius: 10px;
    width: 300px;
}

.nickname{
    display: flex;
}

.nickname > h1, p{
    text-align: left
}


.readOnly{
    background-color: #ccc;
    border: 0;
}

.btnUpdate{
    float: right;
}

.initials{
    text-align: right; 
    padding: 30px;
    color: #d44;
}

.userData{
    width:400px;
    min-width: 300px;
}

.labels{
    background-color: #ddd;
    width: 150px;
    min-width: 100px;
    border: 1px solid black;
    border-bottom: none;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    display: flex;
    align-items:center;
    justify-content:center;
    text-align: center;
}

.profileTabList{
    display: flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    margin-top: 20px;
    margin-bottom: 50px;
}