.user{
    padding-top: 20px;
}

.infosPanel {
    padding:20px;
    background-color: #ddd;
    border-radius: 10px;
    width: 300px;
}

.nickname{
    text-align: left
}


.readOnly{
    background-color: #ccc;
    border: 0;
}

.btnUpdate{
    float: right;
}

.initials{
    text-align: center; 
    padding: 30px;
}

.userData{
    background-color: #ddd;
}

h5{
    text-align: center;
    font-style: italic;
}